Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods "POST, GET"
Header add Access-Control-Allow-Headers "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    # Deny access to environment configuration files
    <Files ~ "\.[Ee][Nn][Vv]">
        Order Allow,Deny
        Deny from all
    </Files>
    RewriteEngine On
    RewriteRule    ^student/([0-9]+)/?$    ?id=$1    [NC,L]    # Handle product request
    RewriteRule    ^student/?$      index.php  [NC,L]    # Handle product request
</IfModule>